#header1-0 P {
	text-align: center !important;
}
#content5-4 P {
	text-align: center !important;
	font-size: 21px !important;
}
#content5-4 H3 {
	font-size: 30px !important;
}
#menu-1 A {
	color: #ffffff !important;
}
#menu-1 SPAN {
	color: #ffffff !important;
	font-size: 14px !important;
	text-align: left !important;
}
#content4-5 P {
	text-align: center !important;
}
#msg-box3-7 P {
	text-align: center !important;
}
